@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: red;
    overflow: hidden;
}

.gameContainer{
    width: 100vw;
    height: 100vh;
    background-image: url('imgs/bg.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#scoreCount{
    position: absolute;
    right: 45px;
    top: 25px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Ubuntu',sans-serif;
    width: 109px;
}
.gameOver{
    position: relative;
    top: 35px;
    font-size: 40px;
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
}

.dino{
    background-image: url('imgs/dino.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 8vw;
}

.obstacle{
    background-image: url('imgs/dragon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 60vw;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.animateDino{
    animation: dino 0.6s linear;
}

@keyframes dino {
    0%{
        bottom:0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleAni {
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}